.tools-carousel-wrapper {
  width: fit-content;
  white-space: nowrap;
}

.tools-carousel {
  animation: scroll-x 30s linear infinite;
  position: relative;
  display: inline-flex;
  min-width: max-content;
}

.fade-mask {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}

@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}
