@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

body {
  background: url("/background.webp") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
